
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
*.output
.idea
/test-programs

# generated code
/out/resources/butterfly_embed/generated_code/*.go
!/out/resources/butterfly_embed/generated_code/bf_____generated.go

# executable
bf_installer.msi
/out/butterfly.exe